doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='../public/lib/angular.js')
        script(src='../public/lib/angular-route.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='../public/javascripts/processJson.js')
        script(src='../public/javascripts/sendJson.js')